{% extends "accounts/base.html" %}
{% block content %}
<div class="mx-15 my-10">
    <h1 class="font-bold text-xl">About Us</h1>
    <p>Welcome to Coppertail Grooming!<br><br>Since 20XX, we have been caring for the fur babies of Lakeland
     with the utmost care and love. As an elite doggie grooming boutique, we offer a large variety of services
     for all types of breeds and tastes.<br><br>Our founder, Cassidy, loves getting to know both you and your lovable
     ball of fur.
    <br><br>If you have any questions about services or products, contact Alex at alexblake544@gmail.com
    <br><br><br><br>
    </p>
</div>
{% endblock %}