
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<title>{% block title %}Coppertail Grooming{% endblock %}</title>
</head>
<body class="bg-white">
	<header>
		<nav class="flex justify-between items-center flex-wrap bg-green-200 py-2 sm:pr-2 md:pr-6 lg:pr-10 xl:pr-14">
			<div class="flex items-center flex-shrink-0 text-black m-2 px-5">
				<a href="{% url 'accounts:accounts' %}">
					<img class="h-20 pr-10" src="{% static 'accounts/coppertail-grooming-logo.png' %}" alt="Coppertail Grooming Logo"/>
				</a>
				<ul class="flex justify-around text-black font-bold sm:flex-wrap sm:pr-2 md:pr-6 lg:pr-10 xl:pr-14">
					<li class="xs:px-2 sm:px-3 md:px-3 lg:px-5 xl:px-7"> <a class="hover:text-orange-600" id="services" href="{% url 'accounts:services' %}" style="font-size: 30;">Services</a> </li>
					<li class="xs:px-2 sm:px-3 md:px-3 lg:px-5 xl:px-7"> <a class="hover:text-orange-600" id="appointment" href="{% url 'booking:booking_create' %}">Book Now</a> </li>
					<li class="xs:px-2 sm:px-3 md:px-3 lg:px-5 xl:px-7"> <a class="hover:text-orange-600" id="about" href="{% url 'accounts:about' %}">About Us</a> </li>
					<li class="xs:px-2 sm:px-3 md:px-3 lg:px-5 xl:px-7"> <a class="hover:text-orange-600" id="contact" href="{% url 'accounts:contact' %}">Contact Us</a> </li>
					<li class="xs:px-2 sm:px-3 md:px-3 lg:px-5 xl:px-7"> <a class="hover:text-orange-600" id="faq" href="{% url 'accounts:faq' %}">FAQ</a> </li>
					{% if user.is_staff or user.is_superuser %}
						<li class="xs:px-2 sm:px-3 md:px-3 lg:px-5 xl:px-7"> <a class="hover:text-orange-600" id="admin" href="{% url 'dashboard:dashboard' %}">Admin</a> </li>
    				{% endif %}
				</ul>
			</div>
			<div class="flex items-center">
				<a class="xs:mx-2 sm:mx-3 md:mx-3 lg:mx-5 xl:mx-7 w-25 h-10 py-2 text-center rounded border bg-white hover:bg-black text-black hover:text-white" href="{% url 'booking:booking_create' %}">Book Now</a>
				<div class="group">
					<button class="flex items-center px-3 py-2 text-black hover:text-gray-600 hover:border-white">
						<img class="h-7 md:h-10 lg:h-10 xl:h-12" src="{% static 'accounts/default_avatar.png' %}" alt="default profile" />
					</button>
					{% if user.is_authenticated %}
					<div class="absolute w-25 right-0 mr-5 md:mr-10 lg:mr-10 xl:mr-12 bg-white shadow-md rounded-md opacity-0 invisible group-hover:opacity-100 group-hover:visible">
						<div class="flex flex-col">
							<a class="flex justify-center mt-2 text-black hover:text-gray-600" href="{% url 'accounts:account' %}">My Account</a>
							<form class="flex justify-center mt-4 mb-2 text-black hover:text-gray-600" action="{% url 'accounts:logout' %}" method="post">{% csrf_token %}<button type="submit" class="nav-link-btn">Log Out</button></form>
						</div>
					</div>
					{% else %}
					<div class="absolute w-20 right-0 mr-5 md:mr-10 lg:mr-10 xl:mr-12 bg-white shadow-md rounded-md opacity-0 invisible group-hover:opacity-100 group-hover:visible">
						<div class="flex flex-col">
							<a class="flex justify-center mt-2 text-black hover:text-gray-600" href="{% url 'accounts:login' %}">Log In</a>
							<a class="flex justify-center mt-4 mb-2 text-black hover:text-gray-600" href="{% url 'accounts:register' %}">Sign Up</a>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</nav>
		<hr class="color-green-800">
	</header>

	{% if messages %}
		<div class = "w-5/6 m-15">
            {% for message in messages %}
                <div style="
					padding: 20px; 
					background-color: #fcf8e3; 
					border: 1px solid #faebcc; 
					color: #8a6d3b; 
					margin-bottom: 20px; 
					border-radius: 5px; 
					text-align: center;
					">{{ message }}
                </div>
            {% endfor %}
		</div>
	{% endif %}

	{% block content %}
	{% endblock %}

	<footer>
		<div class="flex justify-around items-center bg-green-200 py-5">
			<a href="{% url 'accounts:accounts' %}">
				<img class="h-20 pr-10" src="{% static 'accounts/coppertail-grooming-logo.png' %}" alt="Coppertail Grooming Logo"/>
			</a>
			<ul class="flex flex-col md:flex-row lg:flex-row">
				<li class="md:pr-7 lg:px-17 xl:px-25"><a class="hover:text-orange-600 font-semibold">Contact Us</a></li>
				<li class="md:px-7 lg:px-17 xl:px-25"><a class="hover:text-orange-600 font-semibold">FAQs</a></li>
				<li class="md:pl-7 lg:px-17 xl:px-25"><a class="hover:text-orange-600 font-semibold" href="{% url 'accounts:services' %}">Services</a></li>
			</ul>
			<a href="https://www.facebook.com/coppertailgroomingco/"><img class="h-8" style="filter:brightness(0%);" src="../../accounts/static/accounts/facebook_logo_transparent.png" alt="Facebook"/></a>
			<a href="https://www.instagram.com/coppertailgroomingco/"><img class="h-8" style="filter:brightness(0%);" src="../../accounts/static/accounts/instagram_logo.png" alt="Instagram"/></a>
		</div>
		<hr class="mx-2">
		<div class="bg-green-200">
			<p class="text-center pt-5 pb-15">&#169 2026 Coppertail Grooming Co. All Rights Reserved.</p>
		</div>
	</footer>
</body>
</html>

