
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<title>{% block title %}Coppertail Grooming{% endblock %}</title>
	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		.container {
            width: min(900px, calc(100% - 40px));
            margin: 20px auto; 
        }
	</style>
</head>
<body>
	<header>
		<div class="flex justify-between mx-5">
			<img class="h-20" src="{% static 'accounts/coppertail-grooming-logo.png' %}" alt="Coppertail Grooming Logo"/>
			<ul class="list-inside overflow-hidden flex justify-between text-black hover:#C56A39">
				<li> <a class="header-link" id="home" href="{% url 'accounts:accounts' %}">Home</a> </li>
				<li> <a class="header-link" id="services" href="{% url 'accounts:services' %}">Services</a> </li>
				<li> <a class="header-link" id="appointment" href="{% url 'booking:booking_create' %}">Book Now</a> </li>
				<li> <a class="header-link" id="contact">Contact Us</a> </li>
				{% if user.is_authenticated %}
					<li><span class="user-welcome">Hello, {{ user.username }}!</span></li>
					<li> <a class="header-link" id="account-page" href="{% url 'accounts:account' %}">My Account</a> </li>
					<li>
						<form action="{% url 'accounts:logout' %}" method="post" style="display:inline;">
							{% csrf_token %}
							<button type="submit" class="nav-link-btn">Log Out</button>
						</form>
					</li>
				{% else %}
					<li><a href="{% url 'accounts:login' %}">Log In</a></li>
					<li><a href="{% url 'accounts:register' %}">Sign Up</a></li>
				{% endif %}
			</ul>
		</div>
		<hr>
	</header>

	<div class = "container">
		{% if messages %}
            {% for message in messages %}
                <div style="
					padding: 20px; 
					background-color: #fcf8e3; 
					border: 1px solid #faebcc; 
					color: #8a6d3b; 
					margin-bottom: 20px; 
					border-radius: 5px; 
					text-align: center;
					">{{ message }}
                </div>
            {% endfor %}
        {% endif %}
		{% block content %}
		{% endblock %}
	</div>

	<footer></footer>
</body>
</html>

