{% extends 'accounts/base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<h2 class = "font-semibold text-xl">Welcome to Coppertail Grooming!</h2>
<div class = "bg-red-100">
	<div class = "info">
		<p style="text-align: left;" class = "ad1">
			Coppertail Grooming Co. is an elite all breed dog grooming boutique located in Lakeland, Florida.
			<br><br>
			Our goal is to treat your furry friend like our very own while offering a personalized, high-end
			spa service!
		</p>
	</div>
</div>
<h2 class = "header1">Our Mission</h2>
<div class = "info">
	<p style="text-align: left;" class = "ad1">
		We pride ourselves on giving our clients, and their fluffy companions, the best 
		experience possible with every visit. We handle any-and-all of your dog's unique 
		tastes and needs. From specialty shampoos to nail painting, we cover it all!
		<br><br> 
		Check out a full list of our services here: <a class = "ad2" href="http://127.0.0.1:8000/services">Services</a>
	</p>
</div>
{% endblock %}
