{% extends 'accounts/base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<h2 class = "header1">Join our family!</h2>
<div class = "info-card">
	<div class = "info">
		<p class = "ad1">Here at Copper Tail Grooming, we truly care about you and your pets. With over x groomers, over x years of experience, and over x clients, you can trust us with your fur babies!</p>
	</div>
</div>
<h2 class = "header1">What we do</h2>
<div class = "info">
	<p class = "ad1">We handle bathing (with and without shampoo), puppy perfume, and so much more! Check what other services we offer here! <a class = "ad2">Services...</a></p>
	
</div>

<style>
	.info-card {
		margin: 25px 0;
		background-color: #fafafa;
		border-radius: 15px;
	}
</style>
{% endblock %}
