{% extends 'accounts/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class = "login-title">
    <h1>Welcome Back!</h1>
</div>

<div class = "login-content">
    <form method="post">
        <br>
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class = "button1" type="submit">Log In</button>
        <button class = "button1"> 
            <a href="{% url 'accounts:register' %}">Sign Up</a>
        </button>
    </form>
</div>

{% endblock %}
