{% extends "accounts/base.html" %}
{% block content %}
<div class="form-container">
    <form method="POST">
        {% csrf_token %}
        <h2>Sign In</h2>
        
        <div class="form-group mb-3">
            {{ form.username }}
        </div>
        <div class="form-group mb-3">
            {{ form.password }}
        </div>

        <div class="form-check mb-3 text-start"> 
            {{ form.remember_me }}
            <label class="form-check-label" for="id_remember_me" style="margin-left: 5px;">
                <input type="checkbox" style="width: 20px; height: 20px; border: 1px solid black;"> CHECKBOX TEST
            Remember Me
         </label>
    </div>

        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{% url 'accounts:register' %}">Sign Up Now</a>
            <a href="{% url 'accounts:password_reset' %}">Forgot Password?</a>
        </small>
    </div>
</div>
{% endblock content %}