{% extends "accounts/base.html" %}
{% block content %}
<div class="form-container bg-green-100 rounded-lg" style="max-width: 500px; margin: 20px auto; padding: 20px;">
    {% if validlink %}
        <h2 class="text-xl font-semibold text-center">Set New Password</h2>
        <p class="text-center">Please enter your new password twice for confirmation.</p>
        <br>
        <form method="POST">
            {% csrf_token %}
            
            {% if form.errors %}
                <div style="background-color: #f8d7da; color: #721c24; padding: 10px; border-radius: 5px; margin-bottom: 20px;">
                    <strong>Please correct the following:</strong>
                    {{ form.errors }}
                </div>
            {% endif %}

            <div class="">
                {{ form.as_table }}
            </div>

            <br>

            <button type="submit" class="text-lg font-semibold cursor-pointer text-center">
                Update Password
            </button>
        </form>
    {% else %}
        <div class="alert alert-danger">
            <h2 class="text-center font-semibold text-lg">Invalid Link</h2>
            <p class="text-center">The password reset link was invalid, possibly because it has already been used or expired.</p>
            <br>
            <a href="{% url 'accounts:password_reset' %}" class="flex justify-center underline hover:text-orange-600">Request a new link</a>
        </div>
    {% endif %}
</div>
{% endblock content %}