{% extends "accounts/base.html" %}

{% block content %}
<div class="shadow-lg rounded-lg mx-10 my-5 md:mx-25 lg:mx-50 xl:mx-75 px-13 py-8 bg-green-100">
    <h2 class="flex justify-center text-xl font-semibold mb-5">Password Reset</h2>
    <p class="text-center mb-5">Enter your email address below, and we'll email instructions for setting a new one.</p>
    
    <form method="POST">
        {% csrf_token %}
        <div class="flex mb-5">
            <label>Email Address:</label>
            <div class="w-46 bg-white border ml-3"><input type="email" name="email" class="form-control" required></div>
        </div>
        <div class="flex justify-center"><button type="submit" class="cursor-pointer border bg-white px-1 text-lg">Send Reset Email</button></div>
        
    </form>
</div>
{% endblock content %}