{% extends "accounts/base.html" %} {% block title %} Join the Family - Coppertail {% endblock title %}

{% block content %}
<div class="shadow-lg rounded-lg mx-10 my-5 md:mx-25 lg:mx-50 xl:mx-75 px-13 py-8 bg-green-100">
    <h3 class="mb-5 flex justify-center font-semibold text-xl">Create Your Account</h3>
    <form method="POST">
        {% csrf_token %}
        
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <div class="flex justify-center pb-2">
            <label class="pr-14">First Name</label>
            <div class="border w-45 bg-white">{{ form.first_name }}</div>
        </div>

        <div class="flex justify-center pb-2">
            <label class="pr-14">Last Name</label>
            <div class="border w-45 bg-white">{{ form.last_name }}</div>
        </div>

        <div class="flex justify-center pb-2">
            <label class="pr-15">Username</label>
            <div class="border w-45 bg-white">{{ form.username }}</div>
        </div>

        <div class="flex justify-center pb-2">
            <label class="pr-24">Email</label>
            <div class="border w-45 bg-white">{{ form.email }}</div>
        </div>

        <div class="flex justify-center pb-2">
            <label class="pr-17">Password</label>
            <div class="border w-45 bg-white">{{ form.password1 }}</div>
        </div>

        <div class="flex justify-center pb-2">
            <label class="pr-2">Confirm Password</label>
            <div class="border w-45 bg-white">{{ form.password2 }}</div>
        </div>

        <div class="flex justify-center mt-4">
            <button type="submit" class="border rounded-md px-1 bg-white cursor-pointer hover:text-orange-800">Sign Up</button><br><br>
        </div>
    </form>
    <div class="small text-center pt-5">
        <label>Have an account? Go to <a class="underline hover:text-orange-600" href="{% url 'accounts:login' %}">Sign in</a></label>
    </div>
</div>
{% endblock content %}