/* Used generally */
body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: large;
    line-height: 1.6;
    background-color: #DA8A67;
}
.container {
    margin: 20px;
    padding: 20px;
    max-width: 900px;
    background: #C56A39;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #195c43;
    padding-left: 5px;
}
h2 {
    color: #ececec;
}
h3 {
    color: #ececec;
}
hr {
    border: none;
    border-bottom: 3px solid #195c43;
    padding-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
p {
    text-align: center;
    color: #0d3a2a;
}
header {
    background-color: #68cba7d1;
}

/* Used in: base.html */
.centered-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 5px;
}
.navbar ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}
.navbar a {
    color: #195c43;
    text-decoration: none;
}
.navbar a:hover {
    color: #C56A39;
}
.navbar li {
    float: left;
}
.header-link {
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Used in: home.html */
.header1 {
    display: flex;
    justify-content: center;
}
.ad2 {
    color: #0e617d;
}
.ad2:hover {
    color: #C56A39;
}
.info {
    background-color: #cce1d3;
	padding: 15px;
	margin-bottom: 20px;
    border-radius: 8px;
}

/* Used in: login.html */
.login-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-content {
    display: flex;
    justify-content: center;
}
.button1 {
    display: flex;
    justify-content: center;
    background-color: #68cba7d1;
    color: #000000;
    padding: 5px;
    font-size: medium;
}