.centered-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header1 {
    display: flex;
    justify-content: center;
}
.info {
    display: flex;
    justify-content: center;
    background-color: #cce1d3;
	padding: 15px;
	margin-bottom: 20px;
}
.login-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-content {
    display: flex;
    justify-content: center;
}
.b1 {
    display: flex;
    justify-content: center;
    background-color: #68cba7d1;
    color: #000000;
    padding: 5px;
    font-size: medium;
}