{% extends 'services/../../../accounts/templates/accounts/base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
{% if services %}
<h2 class = "header1">What We Offer</h2>
    {% for service in services %}
<h3>{{ service.service_name }}</h3>
<div class="info">
    <div class="services-info">
        <div>{{ service.description }}</div>
        <div>{{ service.base_price }}</div>
    </div>
</div>
    {% endfor %}
    <a class="extra-link" href="{% url 'booking:booking_create' %}">Book now!</a>
{% else %}
<h2 class="header1">Ruh roh!</h2>
<div class="info">
    <p style="text-align: left;" class = "ad1">We're sorry! It looks like we haven't included anything here yet. Please check back again later!</p>
</div>
{% endif %}

{% endblock %}