{% extends 'services/../../../accounts/templates/accounts/base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

{% if services %}
<div class="mt-10 mx-10 md:mx-25 lg:mx-50 xl:mx-75">
    <h2 class = "mb-5 flex justify-center font-semibold text-xl">What We Offer</h2>
        {% for service in services %}
        <div class="bg-green-100 rounded-lg px-5 py-3 mb-10">
            <h3 class="text-lg">{{ service.service_name }}</h3>
            <div class="flex justify-between">
                <div>{{ service.description }}</div>
                <div>{{ service.base_price }}</div>
            </div>
        </div>
        {% endfor %}
        <div class="flex justify-center"><a class="border bg-green-100 px-1 text-lg" href="{% url 'booking:booking_create' %}">Book now!</a></div>
</div>
{% else %}
<div class="mt-10 mx-10 md:mx-25 lg:mx-50 xl:mx-75">
    <h2 class="mb-5 flex justify-center font-semibold text-xl">Ruh roh!</h2>
    <div class="info">
        <p style="text-align: left;" class = "ad1">We're sorry! It looks like we haven't included anything here yet. Please check back again later!</p>
    </div>
</div>
{% endif %}

<br><br>

{% endblock %}